body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(231, 190, 193);
    color: rgb(182, 138, 138);
    padding: 20px;
    text-align: center;
}

.header nav ul {
    list-style-type: none;
    padding: 0;
}

.header nav ul li {
    display: inline;
    margin: 0 10px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}

.conteudo {
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    color: rgb(192, 147, 154);
}

.footer {
    background-color: #ddbcbc50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

img {
    width: 15%;
    height: auto;
}



@media (max-width: 768px) {
    .header nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }

    img {
        width: 30%;
    }

    .footer {
        position: static;
    }
}


@media (max-width: 480px) {
    .header {
        padding: 10px;
    }

    .header nav ul li {
        margin: 5px 0;
    }

    .conteudo {
        padding: 10px;
    }

    img {
        width: 50%;
    }
}
.fhr{
    padding: 50px;
}