body {
    font-family: 'Nunito Sans';
}

.Bem {
    color: rgb(198, 154, 240);
}

.Sobre {
    color: rgb(199, 155, 240);
}

.Sobre {
    color: rgb(199, 155, 240);
}

.Projetos {
    color: rgb(199, 155, 240);
}

.Projetos2 {
    color: rgb(199, 155, 240);
}

.Contatos{
    color: rgb(199, 155, 240);
}

img {
    width: 20%;
    height: auto;
}